:host {
    text-align: center;
}

.header {
    background-color: rgb(224, 214, 200);
    color: rgb(53, 52, 51);
    width: 100%;
    left: 0;
    top: 0;
    max-height: 100px;
    position: absolute;
}

.counter-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.top-tabs {
    margin: 100px 0 15px 0;
}

.bottom-tabs {
    margin-top: 250px;
}

.calculate-tabs {
    display: flex;
    justify-content: center;
    .cal-tab {
        display: flex;
        justify-content: center;
        width: 55px;
        background-color: rgb(120, 120 , 120);
        color: #ffffff;
        border: none;
        outline: none;
        padding: 15px;
        cursor: pointer;
    }
    .active-tab {
        background-color: rgb(77, 72, 100);
    }
}

.input-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    .value-input {
        font-size: 3rem; 
        height: 150px;   
        width: 90%;
        border-radius: 6px;
        padding: 10px;   
        box-sizing: border-box; 
        text-align: center;
    }
}

.current-total {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

.update-btn {
    margin-top: 50px;
    border: none;
    outline: none;
    width: 75%;
    padding: 15px;
    border-radius: 6px;
    font-size: 1.5rem;
    background-color: rgb(77, 72, 100);
    color: #ffffff;
    cursor: pointer;
}